* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../bg.jpg");
  background-size: cover; /* Membuat gambar sesuai dengan ukuran layar */
  background-repeat: no-repeat; /* Mencegah gambar terulang */
  font-family: 'Creepster', cursive;
  display: flex;
  color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#nameInput {
  width: 80%;
  padding: 5px;
  outline: none;
  border-radius: 10px;
  border: 1px solid red;
  font-weight: 800;
  color: white;
  background-color: transparent;
  
}
#result{
  width: 70%;
  text-align: center;
  
}
.card {
  min-width: 300px;
  
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(73,70,70,0.508); /* Hapus duplikat background-color */
  
  
}

 button {
  width: 80%;
  padding: 5px;
  border-radius: 8px;
  background-color: red;
  font-weight: 800;
  outline: none;
  border: none;
  color: black;
}
.author {
  position: fixed;
  bottom: 5%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  background-color: rgba(255, 13, 13, 0.253);
  border-radius: 10px;
  color: #686868a7;
}
